<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/nav.css'/>
    <link rel='stylesheet' href='/css/home.css' />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/home.js"></script>
    <script type="text/javascript" src="/js/nav.js"></script>
    <script type='text/javascript' src='/js/moment.min.js'/></script>
  </head>
  <body>
    <!-- Navigation -->
    {{> navbar}}
    <!--End Navigation -->
    <div class="container">
      <div class="row"> {{!-- <div class="row"> --}} 
        <div class="col-md-9 col-sm-8">
	    	<div class="row">
	          <div id="my-meetings">
	            <div class="row-fluid header-div">
	              <h2 class="dashboard-header">My Meetings</h2>
	            </div>
	              <div class="meeting-cards-div">
	                {{#each meetings}}
	                <!-- Meeting 1 -->
	                <div class="meeting-card" data-meeting-id="{{id}}">
	                  <div class="meeting">
	                    <div class="meeting-name">
	                      <p>{{name}}</p>
	                    </div>
	                    <div class="meeting-datetime">
	                      <div class="datetime-icon">
	                        <i class="fa fa-clock-o"></i>  
	                      </div>
	                      <div class="datetime-text">
	                        <p class="meeting-date"></p>
	                        <p> <span class="start-time">{{startTime}}</span> &ndash; <span class="end-time">{{endTime}}</span></p>
	                      </div>
	                    </div>
	                    <div class="meeting-organizer">
	                      <img class="organizer-img" src="{{organizerPic}}" alt="profile pic">
	                    </div>
	                    <div class="meeting-location-div">
	                      <div class="location-icon">
	                        <i class="fa fa-map-marker"></i>  
	                      </div>
	                      <div class="location-text">
	                        <p class="location-text2">{{location}}</p>
	                      </div>
	                    </div>
	                    <div class="meeting-descrpt-div">
	                      <p>{{description}}</p>
	                    </div>
	                    <div class="participants-row">
	                    	{{#each participantsList}}
							<img class="participant-img" src="{{pic}}" alt="profile pic" />	
	                    	{{/each}}
	                        <span class="participant-number plain">+{{extraParticipants}}</span>
	                    </div>
	                  </div>
	                </div>
	              {{/each}}
	              </div>
	          </div>    
	        </div>
	    </div>
        <!-- end Meetings -->
        
        <!-- Notifications -->
        <div class="col-md-3 col-sm-4">
        	<div class="row">
	          <div id="notifications"></div>
	          <div class="notification-card">
	            <div class="header-div">
	              <h2 class="dashboard-header">Notifications</h2>
	            </div>
	            <div id="notifications-panel">
	              
	            </div>
	          </div>
	        </div>
	      </div>
	      <!-- end Notifications -->
      </div>
    </div>
  </body>
</html>
