<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel='stylesheet' href='/css/nav.css'/>
    <link rel='stylesheet' href='/css/newmeeting.css'/>
    <link rel='stylesheet' href='/css/bootstrap-datepicker.standalone.min.css'/>
    <link rel='stylesheet' href='/css/bootstrap-timepicker.min.css'/>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='/js/newmeeting.js'/></script>
    <script type="text/javascript" src="/js/nav.js"></script>
    <!-- Datepicker: http://bootstrap-datepicker.readthedocs.org/en/latest/ -->
    <script type='text/javascript' src='/js/bootstrap-datepicker.min.js'/></script>
    <!-- https://github.com/jdewit/bootstrap-timepicker -->
    <script type='text/javascript' src='/js/bootstrap-timepicker.min.js'/></script>
    <script type='text/javascript' src='/js/moment.min.js'/></script>
    <!-- Algolia is used for autocomplete: https://www.algolia.com -->
    <script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script src="//cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>

  </head>
  <body>
    <!-- Navigation -->
    {{> navbar}}
    <!--End Navigation -->
    <div class="container">
        <!-- <div> -->
            <div class="row">
                <div class="col-xs-12">
                	<div class="row row2">
                		<div class="col-md-4 col-sm-5">
                            <div class="row">
                                <div class="m-top">
                                    <div id="m-details-btns">
                                        <span class="btn" id="save-btn">Send Invite</span>
                                        <span class="btn" id="cancel-btn"></i>Cancel</span>
                                    </div>
                                    
                                </div>
                                <div class="m-details">
                                    <div class="m-panel1">
                                        <input id="m-title" placeholder="Meeting Title">
                                        <!-- <div id="m-title" class="text-container" contenteditable="true" data-ph="Meeting Title"></div> -->
                                        <div class="m-panel2b">
                                            <div class="m-panel2">
                                                <input class="dp" id="m-date" placeholder="Date">
                                                <div class="m-panel2a">
                                                    <span id="m-start">00:00</span>
                                                    <span>&ndash;</span>
                                                    <span id="m-end">00:00</span>
                                                </div>
                                            </div>
                                            <div class="m-panel2c">
                                                <!-- This instructions help fill up the space (meant for the meeting time )in an aesthetically pleasing way. This space fill up ensures that the grid does keep sliding down and up when the user selects a timeslot or cancels their selection while working on an xs screen size (e.g. mobile phone).  -->
                                                <p>Select meeting time by clicking or dragging on the grid</p>
                                            </div>
                                        </div>
                                        <p class="m-top-label">Location</p>
                                        <input id="m-location" placeholder="Location">
                                        <p class="m-top-label">Description</p>
                                        <textarea id="m-desc" placeholder="Description"></textarea>
                                    </div>

                                    <div class="guests-panel">
                                        <p class="title"><span>Participants (</span><span id="guests-count"></span>)</p>
                                        <div class="guests-header">
                                            <input id="m-guest-search" placeholder="Search by name or email">
                                            <!-- Todo: Implement auto complete -->
                                            <span id="m-guest-search-btn" class="fa fa-search"></span>
                                        </div>
                                        <div id="guests-content">
                                            <!-- <div class="guests-row">
                                                <i class="fa fa-close"></i>
                                                <p class="name">Homer Simpson</p>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div id="organizer2" class="visible-xs">
                                    <span id="org-span3">
                                        <img src="{{user.pic}}" alt="{{user.displayName}}">
                                    </span>
                                    <span id="org-span4">
                                        <div>
                                            <p id="org-p1">{{user.displayName}}</p>
                                            <p id="org-p2">(Organizer)</p>
                                        </div>
                                    </span>
                                </div>
                            </div>
                		</div>
                		<div class="col-md-8 col-sm-7">
                            <div class="row">
                                <div class = "m-top hidden-xs">
                                    <div id="organizer">
                                        <span id="org-span1">
                                            <img src="{{user.pic}}" alt="{{user.displayName}}">
                                        </span>
                                        <span id="org-span2">
                                            <div>
                                                <p id="org-p1">{{user.displayName}}</p>
                                                <p id="org-p2">(Organizer)</p>
                                            </div>
                                        </span>
                                    </div>
                                    
                                </div>
                                <div class="tab-container">
                                    <span class="tab-btn one active" tab-id="tab1">Tab1</span>
                                    <span class="tab-btn two" tab-id="tab2">Tab2</span>
                                    <span class="tab-btn three" tab-id="tab3">Tab3</span>
                                    <div class="tab-content">
                                        <div>
                                            <div class="grid-pics-panel">
                                                <div class="grid-top-left">
                                                    <!-- <input type="date" min="2016-01-16"></input> -->
                                                    <div class="grid-date-panel">
                                                        <input class="dp" id="dp1" placeholder="First date">
                                                        <p>to</p>
                                                        <input class="dp" id="dp2" placeholder="Last date">    
                                                    </div>
                                                    <div class="btn blue-linear" id="grid-refresh">
                                                        <i class="fa fa-refresh"></i>
                                                    </div>
                                                </div>
                                                <div class="grid-top-right" id="pics-panel">
                                                    <!-- <div class="grid-person">
                                                        <p class="grid-name">Homer Simpson badfadfads </p>
                                                        <div class="person-frame">
                                                        </div>
                                                        <img src="/img/default-user-pic.jpg" alt="pic">
                                                    </div> -->
                                                </div>
                                            </div> 
                                            <div class="grid-panel">
                                                <div class="grid-panel2">
                                                	<div class="grid-side-btn left btn active">
                                                        <i class="fa fa-caret-left"></i>
                                                    </div>                                              
                                                    <div class="calendar-panel">
                                                        <div class="calendar-header">
                                                            <div id="tl">
                                                                <div class="h-col time"><span>&nbsp;</span></div>
                                                            </div>
                                                            <div id="tr">
                                                                <!-- <div class="h-col">Mon 11/1</div> -->
                                                            </div>
                                                        </div>
                                                        <div class="calendar-content">
                                                            <div id="bl">
                                                                <div class="c-col time">
                                                                    <!-- <div class="c-row">00:00</div>
                                                                    <div class="c-row thirty"></div>
                                                                    -->
                                                                </div>
                                                            </div>
                                                            <div id="br">
                                                                <!-- <div class="c-col">
                                                                    <div class="c-row"></div>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="grid-side-btn right btn">
                                                        <i class="fa fa-caret-right"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- End of .tab-content -->
                                </div> <!-- End of .tab-container -->
                            </div>
                		</div>
                	</div> <!-- End .row2 -->
                </div>
            </div>
        <!-- </div> -->
    </div>
    <script>
    	// Constants from the server
    	var S_USER_ID = '{{ user.id }}';
    	var S_DISPLAY_NAME = '{{ user.displayName }}';
    	var S_PIC_URL = '{{ user.pic }}';
        var S_MEETING_ID = '{{ meetingId }}';
    </script>
  </body>
</html>
